::-webkit-scrollbar{
    display: none;
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
@font-face {
    font-family: 'Lapsus Pro Bold';
    src: url(../font/lapsus-pro/LapsusPro-Bold.otf) format('opentype');
}
