@media (max-width: 860px){
    #choose>h3{
        font-size: 4.25em;
        text-align: center;
        
    }
}
@media (max-width: 920px) {
    .hoodie>img{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 3px;
        padding-bottom: 3px;
        right: 50%;
        transform: translateX(50%);
    }
    #choose>h3{
        font-size: 2.25em;
        text-align: center;
        
    }
    .hoodie-color>h4{
        font-size: 3.25em;
    }
}

@media (max-width: 400px){
    .hoodie-color>h4{
        font-size: 2.25em;
    }
}