nav {
    font-family: 'Tilt Neon', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
    border-radius: 60px;
    height: 5vh;
    width: 32vw;

    padding: 1px 10px;
    z-index: 99;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.814);
    backdrop-filter: blur(10%);
    border-radius: 60px;
    z-index: -1;
}

.logo>img {
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    word-spacing: 12px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    justify-content: space-between;
    padding: auto;
    border-radius: 5px;

}

a:hover {
    background: #817c7cab;
    transition: 0.5s;
    animation-delay: 0.1s;
}

.active {
    background-color: #817c7cab;
}

#nav-check {
    display: none;
}

.icons {
    position: absolute;
    right: 0;
    margin-right: 7px;
    font-size: 2.3rem;
    color: whitesmoke;
    cursor: pointer;
    display: none;
}

@media (max-width: 1790px) {
    .logo>img {
        margin-top: 10px;
        margin-left: 10px;
        width: 5px;
        height: 5px;
    }

    .icons {
        display: inline-flex;
    }

    .icons #close-icon {
        display: none;

    }

    #nav-check:checked~.icons #menu-icon {
        display: none;
    }

    #nav-check:checked~.icons #close-icon {
        display: block;
    }

    nav {
        height: 5vh;
        width: 28vh;
    }

    #menu-ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(29, 28, 28, 0.8);
        border-radius: 12px;
        backdrop-filter: blur(10%);
        transition: 0.5s ease-in-out;
    }

    #nav-check:checked~#menu-ul {
        display: block;
    }

    label.logo>img {
        margin: 5px;
        width: 50px;
        height: 50px;
    }



    nav ul li {
        display: block;
        margin: 8px;
        /* margin-bottom: 3px; */
    }

    nav ul li a {
        display: block;
        font-size: 1.5rem;
        margin: 1px 5px;
        text-align: center;

    }
}