#preloader{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    display: none;
}
#preloader img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#displayer{
    display: block;
}
/* @media (max-width: 450px){
    #displayer{
        display: none;
    }
    #preloader{
        display: block;
    }
} */