@media (max-width: 1700px) {
    .year-text{
        font-size: 25rem;
        -webkit-text-stroke: 4.5px #fff;
    }
    .Techcracy-text {
        font-size: 15rem;
    }
    #gap{
        height: 20vh;
    }
}
@media (max-width: 1270px) {
    .Techcracy-text {
        font-size: 12rem;
    }
}
@media (max-width: 1020px) {
    .Techcracy-text {
        font-size: 10rem;
    }
}
@media (max-width: 860px) {
    .year-text{
        font-size: 18rem;
        -webkit-text-stroke: 3.5px #fff;
        margin-top: 8vh;
        margin-bottom: 10vh;
    }
    .Techcracy-text {
        font-size: 8rem;
    }
    #gap{
        height: 10vh;
    }
}
