@media (max-width: 1623px) {
    .year-text{
        font-size: 170px;
        -webkit-text-stroke: 4.5px #fff;
    }
    .Techcracy-text {
        font-size: 100px;
    }
    #gap{
        height: 15vh;
    }
}
