* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Bebas Neue', sans-serif;
    height: 100%;
    width: 100%;
    background-color: black;
    /* background-image: linear-gradient(black, red);/ */
    /* background-image: url(../images/backdround/Customize\ Free\ Purple\ Space\ Stars\ Desktop\ Wallpaper.jpeg); */
    /* background-size: cover; */
}

#main {
    position: relative;
    overflow: hidden;
}

#home {
    height: 100vh;
    width: 100vw;
    /* background-image: linear-gradient(black, #2b2a2a); */

    /* background-color: #030303; */
}

#home>h1 {
    display: flex;
    padding: 1rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 300px;
    color: #ffffff;
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-weight: bold;

    animation-name: focus-in-expand;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes focus-in-expand {

    0% {
        letter-spacing: -.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

#canvas {
    height: 100vh;
    width: 100vw;
    z-index: 2;
}


#Events {
    height: 30vh;
    width: 100vw;
    background-color: red;
}
#Events>h1{
    font-size: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0vh;
}

#gap1{
    height: 40vh;
    width: 100vw;
    background-color: transparent;
}
.comic {
    height: 40vh;
    width: 100vw;
    background-color: rebeccapurple;
    transform: translateX(400%);
    transform: transform 4s ease;

}
.comic:nth-of-type(even){
    transform: translateX(-400%);
}
.comic.show{
    transform: translateX(0%);
}

#Competitions {
    height: 140vh;
    width: 100vw;
    background-color: pink;
}
#Competitions>h1{
    font-size: 250px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0vh;
}
#gap7 {
    height: 40vh;
    width: 100vw;
    background-color: transparent;
}
#gap8 {
    height: 40vh;
    width: 100vw;
    background-color: transparent;
}
