* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lapsus Pro Bold';
    src: url(../font/lapsus-pro/LapsusPro-Bold.otf) format('opentype');
}
html,
body {
    font-family: 'Bebas Neue', sans-serif;
    height: 100%;
    width: 100%;
    background-color: black;
}

#main {
    position: relative;
    overflow: hidden;
}

#home {
    height: 100vh;
    width: 100vw;
}
.year-text{
    position: absolute;
    -webkit-text-stroke: 7.5px #fff;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    margin-bottom: 10vh;
}
.year-text, .Techcracy-text{
    font-family: 'Lapsus Pro Bold', 'Bebas Neue',sans-serif;
    letter-spacing: .1rem;
    line-height: 108px;
    text-transform: uppercase;
}
.speechBubble>img{
    position: absolute;
    height: 60vh;
    width: 60vw;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20vh;
}
.Techcracy-text{
    position: absolute;
    color:#fff;
    margin-top: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20rem;
    z-index: 5;
    font-weight: bold;

    text-shadow: 3px 12px 0px rgb(10, 10, 10);
    -webkit-text-stroke: 3px black;

    animation-name: focus-in-expand;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes focus-in-expand {

    0% {
        letter-spacing: -.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

#canvas {
    height: 100vh;
    width: 100vw;
    z-index: 2;
}


#Events {
    height: 30vh;
    width: 100vw;
    background-color: red;
}
#Events>h1{
    font-size: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0vh;
}

#gap1{
    height: 40vh;
    width: 100vw;
    background-color: transparent;
}
.comic {
    height: 40vh;
    width: 100vw;
    background-color: rebeccapurple;
    transform: translateX(400%);
    transform: transform 4s ease;

}
.comic:nth-of-type(even){
    transform: translateX(-400%);
}
.comic.show{
    transform: translateX(0%);
}

#Competitions {
    height: 140vh;
    width: 100vw;
    background-color: pink;
}
#Competitions>h1{
    font-size: 250px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0vh;
}
#gap{
    height: 35vh;
    width: 100vw;
    background-color: red;
}
#gap7 {
    height: 40vh;
    width: 100vw;
    background-color: transparent;
}
#gap8 {
    height: 40vh;
    width: 100vw;
    background-color: transparent;
}
