@media (max-width: 1460px) {
    html,
    body {
        animation: slowlyRepeat 120s linear infinite;
    }
    @keyframes slowlyRepeat {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
    }

    .title {
        display: none;
    }

    .title>h1 {
        display: none;
    }

    .container {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #sun,
    #mercury,
    #venus,
    #earth,
    #mars,
    #jupiter,
    #saturn,
    #uranus,
    #naptune {
        background-image: none;
    }

    .hideTitle h4 {
        font-family: 'Lapsus Pro Bold', sans-serif;
        text-transform: uppercase;
        position: absolute;
        display: block;
        font-size: 3.5em;
        color: whitesmoke;
        text-align: center;
        letter-spacing: 1px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(251, 251, 251);
        text-shadow: 3px 12px 0px rgb(10, 10, 10);
        -webkit-text-stroke: 0.5px black;
    }
}

@media (max-width: 730px) {
    html,
    body {
        animation: slowlyRepeat 120s linear infinite;
    }
    @keyframes slowlyRepeat {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
    }
    .container {
        width: 400px;
        height: 400px;
    }

    .container .icon .img-box {
        width: 60px;
        height: 60px;
        transform-origin: 230px;
    }

    .content-box .card .img-box {
        width: 150px;
        height: 150px;
    }

    .content-box .card {
        padding: 5px;
    }

    .members-content::before,
    .members-content.three::before,
    .members-content.v-three::before,
    .members-content.four::before {
        border-left: 2px solid whitesmoke;
        border-right: 2px solid whitesmoke;
        border-top: none;
        border-bottom: none;
        inset: 20px;
        z-index: 1;
    }
    .showWord {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .showWord h1 {
        font-size: 50px;
    }

    .showWord .reveal-type {
        font-size: 10px;
    }

    .showWord .themeHighlight {
        font-size: 5px;
    }
}

@media (max-width: 530px) {
    html,
    body {
        animation: slowlyRepeat 180s linear infinite;
    }
    @keyframes slowlyRepeat {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
    }
    .container {
        width: 280px;
        height: 280px;
    }

    .container .icon .img-box {
        width: 50px;
        height: 50px;
        transform-origin: 163px;
    }

    .content-box .card .img-box {
        width: 120px;
        height: 120px;
    }

    .content-box .card .text-box h2 {
        font-size: 1.25em;
    }

    .content-box .card .text-box h2 span {
        font-size: .9em;
        -webkit-text-stroke: 0.5px black;
    }

    .content-box .card .text-box.pr h2 span {
        font-size: 20px;
    }

    .content-box .card .text-box.web h2 span {
        font-size: 20px;
    }

    .content-box .card .text-box .social-icons i {
        font-size: 1em;
    }

    .hideTitle h4 {
        font-size: 1.5em;
    }

    .showWord {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .showWord h1 {
        font-size: 50px;
        -webkit-text-stroke: .8px whitesmoke;
    }

    .reveal-type {
        font-size: 1rem;
    }

    .showWord .themeHighlight {
        font-size: .6rem;
    }
}