* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    background-image: url(../images/background/space.png);
    background-size: cover;
}

.team-heading {
    margin-top: 50px;
}

.team-heading>h1 {
    letter-spacing: .2rem;
    -webkit-text-stroke: 1.5px whitesmoke;
    color: transparent;
    text-align: center;
    font-size: 100px;
}

.struct-body {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row;
    background: transparent;

}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid whitesmoke;
    border-top: 12px double whitesmoke;
    border-radius: 50%;
}

#sun {
    background-image: url(../images/gif/sun.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.hideTitle h4{
    display: none;
}

#mercury {
    background-image: url(../images/gif/mercury.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#venus {
    background-image: url(../images/gif/venus.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#earth {
    background-image: url(../images/gif/earth.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#mars {
    background-image: url(../images/gif/mars.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#jupiter {
    background-image: url(../images/gif/jupiter.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#saturn {
    background-image: url(../images/gif/saturn.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#uranus {
    background-image: url(../images/gif/uranus.gif);
    background-repeat: no-repeat;
    background-size: cover;
}



.container .icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.container .icon .img-box {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 0 4px #222,
        0 0 0 6px whitesmoke;
    transform: rotate(calc(360deg/8*var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
    z-index: 2;
}

.container .icon .img-box.active {
    box-shadow: 0 0 0 4px #222,
        0 0 0 6px rgb(233, 104, 233);
}

.container .icon .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8*var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
}

.container .icon .img-box.active img {
    filter: grayscale(0);
}

.members-content {
    position: absolute;
    inset: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members-content::before {
    content: '';
    position: absolute;
    border: 4px solid transparent;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.members-content::before {
    inset: 40px;
    border-left: 8px dotted whitesmoke;
    border-right: 8px dotted whitesmoke;
    animation-name: scale_pulse;
    z-index: 1;
}
.members-content.three::before {
    inset: 40px;
    border-left: 8px dotted whitesmoke;
    border-right: 8px dotted whitesmoke;
    border-bottom: 8px dotted whitesmoke;
    animation-name: scale_pulse;
}
.members-content.v-three::before {
    inset: 40px;
    border-left: 8px dotted whitesmoke;
    border-right: 8px dotted whitesmoke;
    border-top: 8px dotted whitesmoke;
    animation-name: scale_pulse;
}
/* .members-content.four::before {
    inset: 40px;
    border: 8px dotted whitesmoke;
    animation-name: scale_pulse;
} */

@keyframes scale_pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.content-box {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 4;
}

.content-box.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.3s;
}

.content-box .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(64, 60, 60, 0.397);
    border-radius: 12px;
    padding: 10px;
    height: fit-content;
    backdrop-filter: blur(6px);
    transition: 0.5s;
 

}

.content-box .card .img-box {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
}

.content-box .card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-box .card .text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-box .card .text-box h2 {
    position: relative;
    font-size: 2.25em;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(233, 158, 243, 0.733);
    line-height: 1em;
}

.content-box .card .text-box h2 span {
    font-size: 1.05em;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(233, 158, 243, 0.733);
    line-height: 1em;
    -webkit-text-stroke: 1px black;
}

.content-box .card .text-box.pr h2 span {
    font-size: 28px;
    line-height: 0;
    letter-spacing: 0;
    font-weight: 40;
    -webkit-text-stroke: 1px black;
}

.content-box .card .text-box.web h2 span {
    font-size: 28px;
    line-height: 0;
    letter-spacing: 0;
    font-weight: 40;
}

.content-box .card .text-box .social-icons li {
    list-style: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
}

.content-box .card .text-box .social-icons a {
    background: transparent;
}

.content-box .card .text-box .social-icons i {
    font-size: 1.5em;
    color: whitesmoke;
}

.content-box .card .text-box .social-icons i:hover {
    color: rgba(233, 158, 243, 0.733);
    transition: 0.3s;
}

.title {
    position: relative;
    margin-left: 50px;
    height: fit-content;
    width: fit-content;
    /* border-radius: 15px;
    border-color: wheat; */
    /* border-style: solid; */

}


.title>h1 {
    font-family: 'Lapsus Pro Bold', sans-serif;
    text-transform: uppercase;
    font-size: 5.25em;
    letter-spacing: 2px;
    line-height: 1em;
    color: rgb(251, 251, 251);
    /* text-shadow: 0 0 10px rgba(251, 251, 251, 0.869), 0 0 20px rgba(233, 158, 243, 0.733), 0 0 30px rgba(233, 158, 243, 0.733); */
    /* -webkit-text-stroke: 2px rgba(0, 0, 0, 0.834); */

    text-shadow: 3px 12px 0px rgb(10, 10, 10);
    -webkit-text-stroke: 3px black;
}

/* typography animation */
.showWord{
    padding: 0 clamp(1rem,3vw,2rem);
    display: grid;
    place-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
}
.reveal-type{
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
    /* margin: 10rem auto; */
    /* margin-bottom: 12rem; */
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
    color: whitesmoke;
}
.showWord h1{
    /* margin-top: 10rem; */
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .2rem;
    -webkit-text-stroke: 1.5px whitesmoke;
    color: transparent;
    text-align: center;
    font-size: 5.5rem;
}